 /*All your styles can go here */
.percent-off {
    color: red;
    font-weight: bolder;

}


.add-to-cart-button {
    background-color:yellow;
    border-radius: 5px;
    padding:  3%;
    color: black;
}



