 /*All your styles can go here */

.percent-off {
    color: red;
    font-weight: bolder;
}

 button.add-to-cart-button {
     background-color: yellow;
     padding: 14px;
     border-radius: 10px;
     color: black;
 }