 /*All your styles can go here */
/*.percent-off {*/
/*    color: red;*/
/*    font-weight: bolder;*/

/*}*/


/*.add-to-cart-button {*/
/*    background-color:yellow;*/
/*    border-radius: 5px;*/
/*    padding:  6%;*/
/*    color: black;*/
/*}*/



 .percent-off {
     color: red;
     font-weight: bolder;
 }

 .add-to-cart-button {
     background-color: yellow;
     padding: 2vh;
     color: black;
     border-radius: 15px;
     font-family: monospace;
 }